> Example Object

<% json do %>
<%= print_json(data.objects['user'], :verbose => true) %>
<% end %>

Users are the employees, supervisors, and managers that have access to your business on When I Work.

<%= print_table(data.objects['user'], :header => :user) %>


## Listing Users

> Example Request

```shell
curl <%=@api_prefix%>/2/users \
 -H "W-Token: <%=@wiw_token%>"
```
```php
<?php
$wiw = new Wheniwork("<%=@wiw_token%>");
$result = $wiw->get("users");
?>
```
> Example Response

<% json do %>
{
  "users": [
    <%= print_json(data.objects['user']) %>,
    <%= print_json(data.objects['user'], :include => {
      'id' => 27384,
      'first_name' => 'Jennifer',
      'last_name' => 'Parker',
      'email' => 'jen.parker@example.com'
    }) %>
  ]
}
<% end %>

Get a list of users, optionally filtered by ID or location. See the parameters below for all the options.

### HTTP Request
`GET <%=@api_prefix%>/2/users`

### Parameters

Key | Description
--- | -----------
<% param "ids", "integer array" do %>The IDs of the users to retrieve, as a comma-separated list (e.g. `9,17,42`).<% end %>
<% param "location_id", "integer, integer array" do %>The ID of the location to get users for. For multiple locations, enter a list of location IDs separated by commas.<% end %>


## Get Existing User

> Example Request

```shell
curl <%=@api_prefix%>/2/users/4364 \
 -H "W-Token: <%=@wiw_token%>"
```
```php
<?php
$wiw = new Wheniwork("<%=@wiw_token%>");
$result = $wiw->get("users/4364");
?>
```

> Example Response

<% json do %>
{
  "user": <%= print_json(data.objects['user'], :verbose => true, :include => {
    :notes => "This user excels at awesome."
  }) %>
}
<% end %>

Get a specific user by their ID.

### HTTP Request
`GET <%=@api_prefix%>/2/users/{id}`

### Parameters

Key | Description
--- | -----------
<% param "id" do %>ID of the user to retrieve.<% end %>


## Create New User

> Example Request

```shell
curl <%=@api_prefix%>/2/users --data '{"first_name":"Goldie", "last_name": "Wilson", "email": "goldiewilson@hillvalleycalifornia.gov"}' -H "W-Token: <%=@wiw_token%>"
```
```php
<?php
$wiw = new Wheniwork("<%=@wiw_token%>");
$result = $wiw->post("users/", array(
  "first_name"=>"Goldie",
  "last_name"=>"Wilson",
  "email"=>"goldiewilson@hillvalleycalifornia.gov"
));
?>
```

> Example Response

<% json do %>
{
  "user": <%= print_json(data.objects['user']) %>
}
<% end %>

### HTTP Request

`POST <%=@api_prefix%>/2/users`

### Parameters

The `POST` body can include fields from the [User Object](#users). You will need
to include at least the 'email' field in the body of the request.

### Additional Params

Key | Description
--- | -----------
<% param "reactivate", "boolean" do %>Whether to reactivate a previously deleted user.<% end %>


## Update Existing User

> Example Request

```shell
curl -X PUT <%=@api_prefix%>/2/users/4364 \
 --data '{"email":"newemail@example.com"}' \
 -H "W-Token: <%=@wiw_token%>"
```
```php
<?php
$wiw = new Wheniwork("ilovemyboss");
$result = $wiw->put("users/4364", array(
  "email"=>"newemail@example.com"
));
?>
```

> Example Response

<% json do %>
{
  "user": <%= print_json(data.objects['user'], :include => {
    'email' => 'newemail@example.com'
  }) %>
}
<% end %>

### HTTP Request
`PUT <%=@api_prefix%>/2/users/{id}`

### Parameters

The `PUT` body can include fields from the [User Object](#users).

### Additional Params

Key | Description
--- | -----------
<% param "reactivate", "boolean" do %>Whether to reactivate a previously deleted user.<% end %>


## Get User Profile

> Example Request

```shell
curl <%=@api_prefix%>/2/users/profile \
 -H "W-Token: <%=@wiw_token%>"
```
```php
<?php
$wiw = new Wheniwork("<%=@wiw_token%>");
$result = $wiw->get("users/profile");
?>
```

> Example Response

<% json do %>
{
  "user": <%= print_json(data.objects['user']) %>
}
<% end %>

Get the authenticated user's profile, which includes all personal information such as name, email, and phone number, and also includes some extra options like `sleep_start`.

### HTTP Request

`GET <%=@api_prefix%>/2/users/profile`


## Update User Profile

> Example Request

```shell
curl -X POST <%=@api_prefix%>/2/users/profile/ \
 --data '<%= print_json(data.objects['user_profile_settings']) %>' \
 -H "W-Token: <%=@wiw_token%>"
```
```php
<?php
$result = $wiw->post("users/alerts", <%= print_json_as_php_array(
  data.objects['user_profile_settings'],
  :include => {
    'first_name'=>'Jimmy',
    'last_name'=>'Buffett',
    'email'=>'parrothead1@margaritaville.com',
    'phone_number'=>'+15552128716'
  }
)%>);
?>
```

> Example Response

<% json do %>
<%= print_json(data.objects['user']) %>
<% end %>

Update the authenticated user's profile information.

<% aside do %>Although managers and supervisors are able to change most profile information through the [Update Existing User](#update-existing-user) endpoint, this is the **only** way for an employee to change their own information using the API.<% end %>

### HTTP Request

`POST <%=@api_prefix%>/2/users/profile`

### Parameters

The POST body can include fields from the User Profile Object:

<%= print_table(data.objects['user_profile_settings'], :header => :"user profile") %>


## Update User Alert Settings

> Example Request

```shell
curl -X POST <%=@api_prefix%>/2/users/alerts/ \
 --data '<%= print_json(data.objects['user_alert_settings']) %>' \
 -H "W-Token: <%=@wiw_token%>"
```
```php
<?php
$result = $wiw->post("users/alerts", array(
  "timeoff" => array(
    "sms" => "true",
    "email" => "false"
  )
));
?>
```

> Example Response

<% json do %>
{
  "success": true
}
<% end %>

### HTTP Request

`POST <%=@api_prefix%>/2/users/alerts`

### Parameters

The `POST` body can include fields from the Alert Settings Object.

<%= print_table(data.objects['user_alert_settings'], :header => :"user alert settings") %>

<%= print_table(data.objects['alert_setting'], :header => :"<a name=\"alertsetting\">alert setting</a>") %>


## Invite Users

> Example Request

```shell
curl -X POST <%=@api_prefix%>/2/users/invite/ \
 --data '{"ids":[14,15,67]}' \
 -H "W-Token: <%=@wiw_token%>"
```
```php
<?php
$wiw = new Wheniwork("<%=@wiw_token%>");
$result = $wiw->post("users/invite/", array(
  "ids" => array(14,15,67)
));
?>
```

> Example Response

<% json do %>
{
  "count": 3,
  "email": 3,
  "sms": 1,
  "success": true
}
<% end %>

Users can be invited by managers, or by supervisors. This will send them an email or text message inviting them to register.

<% aside do %>Users must already be created to be invited.<% end %>

### HTTP Request
`POST <%=@api_prefix%>/2/users/invite/`

### Parameters

Key | Description
--- | -----------
<% param "ids", "integer array" do %>List of IDs of users to invite.<% end %>
<% param "send_all", "boolean" do %>Whether to invite all users who do not currently have a login. If this is `true`, the `ids` parameter will be ignored.<% end %>
<% param "message", "string" do %>An optional message to include in the email invite.<% end %>

You can also invite a single user with the following:

### HTTP Request
`POST <%=@api_prefix%>/2/users/invite/{id}`

### Parameters

Key | Description
--- | -----------
<% param "id", "integer" do %>The ID of the user to invite.<% end %>
<% param "message", "string" do %>An optional message to include in the email invite.<% end %>


## Delete User

> Example Request

```shell
curl -X DELETE <%=@api_prefix%>/2/users/4364 \
 -H "W-Token: <%=@wiw_token%>"
```
```php
<?php
$wiw = new Wheniwork("<%=@wiw_token%>");
$result = $wiw->delete("users/4364");
?>
```

> Example Response

<% json do %>
{
  "success": true,
  "modified_shifts": [235132, 235245, 235677, 235812]
}
<% end %>

Users can be deleted by managers, or by supervisors. If a supervisor is deleting the user, the supervisor must be able to manage all locations the user is attached to.

### HTTP Request
`DELETE <%=@api_prefix%>/2/users/{id}?delete_shifts=true`

### Parameters

Key | Description
--- | -----------
<% param "id" do %>ID of the user to delete.<% end %>
<% param "delete_shifts", "boolean" do %>Indicates whether or not to delete this user's future shifts. If not deleted, those shifts will be moved to Open Shifts. This is an optional parameter.<% end %>
