---
title: API Reference

language_tabs:
  - shell
  - php

toc_footers:
 - <a href='#'>Sign Up for a Developer Key</a>
 - <a href='http://wheniwork.com'>Powered by When I Work</a>
---

# Introduction

The When I Work API is thorough, flexible, and restful. It's methods are logically grouped, and follow standard conventions. Make a selection from the left to jump to the method group you would like to know more about.

Feel free to [contact us](http://support.wheniwork.com) if something seems out of place.

## Libraries

> &nbsp;

We currently offer the following API wrappers:

* PHP: [wheniwork-api-php](https://github.com/dolfelt/wheniwork-api-php)

# Authentication

> &nbsp;

Server authentication is based on a token model. The developer with authenticate using a private developer key, along with the user's credentials. Your developer key can be used like the following in the headers.

`W-Key: <%=@wiw_key%>`

Authenticating in will return back a token that can be use for all further requests. The token may be included in the headers, as a cookie or in the query string using the key `W-Token`, like the following.

`W-Token: <%=@wiw_token%>`

## Login

> Example Request

```shell
curl <%=@api_prefix%>/2/login \
  --data '{"username":"user@example.com","password":"*******"}' \
  -H "W-Key: <%=@wiw_key%>"
```
```php
<?php
$result = Wheniwork::login(
              "<%=@wiw_key%>",
              "user@example.com",
              "*******"
          );
?>
```

> Example Response

```json
{
  "users": [
    <%= print_json(data.objects['user'], :minimal=>true, :include=>{:token=>@wiw_token}).indent(4) %>
  ],
  "accounts": [
    
  ]
}
```

>> Be sure to replace `<%=@wiw_key%>` with your requested Developer Key.


The first thing to do after you receive your Developer Key is to login and replace that with a token. This token will be used for all future authenticated requests.

<aside class="notice">
Remember — All post bodies must be JSON encoded data (no form data).
</aside>

### Parameters

Key | Description
--------- | -----------
username | <strong>email</strong><br />The email of the user logging in.
password | <strong>string</strong><br />Password of the user logging in.
key | <strong>string</strong><br />Developer key. Can be used instead of `W-Key` in the headers. Do not need both.

Once you have the token, you must include it in all authenticated requests. The `W-Key` does not need to be included.

`W-Token: <%=@wiw_token%>`

# Shifts

<%= partial "methods/shifts" %>

# Users

<%= partial "methods/users" %>

# Positions

<%= partial "methods/positions" %>

# Locations

<%= partial "methods/locations" %>

# Sites

<%= partial "methods/sites" %>

# Blocks

<%= partial "methods/blocks" %>

# Requests

<%= partial "methods/requests" %>

# Swaps

<%= partial "methods/swaps" %>

# Availabilities

<%= partial "methods/availabilities" %>

# Payrolls

<%= partial "methods/payrolls" %>

# Times

<%= partial "methods/times" %>

# Batch

<%= partial "methods/batch" %>

# Messages

<%= partial "methods/messages" %>

# Send

<%= partial "methods/send" %>

# Templates

<%= partial "methods/templates" %>

# Plans

<%= partial "methods/plans" %>


# Errors

When I Work uses the following error codes:


Error Code | Meaning
---------- | -------
400 | Bad Request -- Your request sucks
401 | Unauthorized -- Your API key is wrong or you're in the wrong place
403 | Forbidden -- The request is above your permission level
404 | Not Found -- The specified request could not be found
405 | Method Not Allowed -- You tried to access a kitten with an invalid method
406 | Not Acceptable -- You requested a format that isn't json
410 | Gone -- The kitten requested has been removed from our servers
418 | I'm a teapot
429 | Too Many Requests -- You're requesting too many kittens! Slown down!
500 | Internal Server Error -- We had a problem with our server. Try again later.
503 | Service Unavailable -- We're temporarially offline for maintanance. Please try again later.
